.primary {
  @apply text-white;

  background: linear-gradient(90deg, #556466 0%, #1a343a 50%, #5d6f74 100%),
    linear-gradient(0deg, #ffffff, #ffffff);
    background-size: 200% 100%;

  &:hover {
    background-position: 100% 0;
  }
}

.outline {
  @apply border-black border-2;

  &:hover {
    @apply bg-black text-white opacity-90;
  }
}


.white {
  @apply bg-white text-gray-900;

  &:hover {
    @apply opacity-90;
  }
}
